#root {
  --padding: 30px;
  --experience-items-spacing: 50px;

  max-inline-size: 990px;
  margin: 0 auto;
  padding: var(--padding);

  background-color: var(--color-page);

  & > .header {
    margin-block-end: 60px;

    .logo {
      display: flex;
      gap: 15px;
      color: var(--color-background);

      svg {
        display: block;
      }

      .details {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;

        @media (max-width: 576px) {
          display: none;
        }
      }
    }

    h1 {
      margin-block: 40px 10px;
      line-height: 1em;

      & + h2 {
        margin-block: 0 20px;
        padding-inline: 1px;

        font-size: 18px;
        font-weight: 400;
      }
    }

    .contact-info {
      font-size: 12px;

      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 5px;
    }
  }

  & > .footer {
    padding-block: 50px 20px;
    font-size: 12px;
    text-align: center;

    p {
      margin-block: 0;
    }
  }

  .main-content {
    display: grid;
    grid-template-areas:
        'aside sum'
        'aside exp';
    grid-template-columns: 200px 1fr;
    gap: 30px;

    .summary {
      grid-area: sum;
    }

    .experiences {
      grid-area: exp;
    }

    .profile {
      grid-area: aside;
      margin-inline-start: calc(var(--padding) * -1);
    }

    @media (max-width: 750px) {
      grid-template-areas:
          'sum'
          'exp'
          'aside';
      grid-template-columns: 1fr;

      .profile {
        margin-inline-start: 0;
      }
    }
  }

  .content-block {
    h3 {
      margin-block: 0 20px;

      font-size: 18px;
      font-weight: 500;
      line-height: 18px;

      & + .content-block-nested {
        margin-block-start: var(--experience-items-spacing);
      }
    }

    ul {
      padding-inline-start: 15px;

      li {
        &::before {
          content: '';
          display: inline-block;
          margin-inline-end: 0.6em;
          inline-size: 0.4em;
          block-size: 0.4em;
          border-radius: 50%;
          background-color: #4295bc;
          vertical-align: middle;
        }

        & + li {
          margin-block-start: 5px;

          @media (max-width: 576px) {
            margin-block-start: 15px;
          }
        }
      }
    }

    &.has-children .content-block-nested {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 15px;

        h4 {
          margin: 0;
          // font-weight: 500;
        }

        .date-span {
          font-size: 14px;
        }

        @media (max-width: 576px) {
          display: block;
          margin-block-end: 30px;
        }
      }

      & + .content-block-nested {
        margin-block-start: var(--experience-items-spacing);
      }
    }
  }

  .company {
    display: grid;
    grid-template-areas:
        'name mode'
        'desc desc';
    align-items: center;

    margin-block-end: 15px;

    .title {
      grid-area: name;
      margin-block: 0;

      color: #4295bc;
      text-transform: uppercase;
    }

    .desc {
      grid-area: desc;
      margin-block: 0;
      font-size: 12px;
      opacity: .75;
    }

    .work-mode {
      grid-area: mode;
      margin-inline-start: auto;
      font-size: 14px;
    }

    @media (max-width: 576px) {
      row-gap: 5px;
    }
  }

  .profile {
    padding: var(--padding);

    // background-color: #cee6f1;
    background-color: #cbe0ea;

    // & > .photo {
    //   img {
    //     display: block;
    //     width: 100%;
    //   }
    // }

    // & > .skills {
    //   padding: var(--padding);
    // }

    .section-title {
      margin-block: 0 15px;
      // color: #76919f;
      color: #667f8c;
      font-size: 14px;
    }

    .skills {
      ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;

        & + li {
          margin-block-start: 10px;
        }
      }

      .additional {
        margin-block: 15px 0;
        font-size: 12px;
        color: #86a2af;
      }

      .bonus-title {
        margin-block: 15px;
        font-size: 14px;
        // text-transform: uppercase;
        color: var(--color-accent);
      }

      & + .skills {
        margin-block-start: 30px;
      }
    }
  }
}
