:root {
  --color-page: #f6fcff;
  --color-background: #86a2af;
  --color-text: #394145;
  --color-accent: #0098de;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 50px 30px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.badge {
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #cbe0ea;
  // color: var(--color-page);
  border-radius: 2px;
}

body > .copy {
  margin-block: 40px 0;
  font-size: 12px;
  text-align: center;
  color: var(--color-text);
  opacity: 0.5;

  a {
    color: inherit;
    border-bottom: 1px solid;
  }
}